a:link{
	color: #014E85;
}
a:visited{
	color: #014E85;
}
body{
	font-size: 12px;
	font-weight: normal;
	min-width: 320px;
	font-family: Gothamy, Gotham-Book, Arial, sans-serif;
}

/* Responsive */

/* between 768 and 960 */
@media screen and (max-width: 960px) {
	

			
	}
		
/* betwee */
@media screen and (max-width: 768px) {
		
	}

@media screen and (max-width: 610px) {
		
	}



/* No Touch Only */
.no-touch a:hover{
	color: #fff;
	text-decoration: none;
}



/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (min-resolution: 192dpi) {
	
}

/* Retina AND Mobile */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 610px),only screen and (min--moz-device-pixel-ratio: 1.5) and (max-width: 610px),only screen and (min-resolution: 192dpi) and (max-width: 610px){
	
}
